@model WeatherMashup.ViewModels.WeatherMashupViewModel

@{
    ViewBag.Title = "Index";
}

<div id="searchbarWrapper">
<div id="searchbar">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    
    @Html.EditorFor(m=>m.CityName)   
    <input type="submit" name="submit" id="submit"/>
   
}
</div>
    
</div>
@Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)
@Html.ValidationSummary(true,"Unable to find location. Please correct the following")

@Html.Partial("ViewLocations")

@Html.Partial("ViewWeather");

